# API URL for the frontend (optional, defaults to /api)
VITE_API_URL=http://localhost:3000/api

# PostgreSQL Connection String (Example: postgres://user:password@host/dbname?sslmode=require)
DATABASE_URL=postgres://[user]:[password]@[host]/[dbname]?sslmode=require
